<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Ekalaivan Chidambaram Blogs - {{ .Params.title }}</title>

    <meta key="description" content="{{ .Params.description }}" />
    {{ with .Params.keywords }}<meta name="keywords" content="{{ delimit . "," }}" />{{ end }}
  
    <meta property="og:title" content="Ekalaivan Chidambaram Blogs - {{ .Params.title }}">
    <meta property="og:description" content="{{ .Params.description }}">
    <meta property="og:url" content="https://blogs.ekalaivan.net/{{ .Params.url }}">
    <meta property="og:type" content="blog">

    <link rel="icon" type="text/image" href="/images/icon.jpg" />

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" async />

    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />

    <link rel="stylesheet" type="text/css"
        href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@v1.x/themes/prism.css" />

    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>