<div id="sociallinks" class="fs-5 container-fluid text-secondary mt-4 bg-dark position-fixed bottom-0">
  <div class="row justify-content-center py-2" id="contact">
    <div class="col-auto">
      <a class="text-secondary mx-0 mx-sm-3"
        href="https://in.linkedin.com/in/kalaiekalai?trk=public-profile-badge-profile-badge-view-profile-cta"
        target="_blank" aria-label="Visit my linked in profile">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </div>

    <div class="col-auto">
      <a class="text-secondary mx-0 mx-sm-3" href="https://github.com/ekalaivan92" target="_blank"
        aria-label="Visit my personal github profile">
        <i class="fab fa-github-square fa-2x"></i>
      </a>
    </div>

    <div class="col-auto">
      <a class="text-secondary mx-0 mx-sm-3" href="http://ekalaivan.net/" target="_blank"
        aria-label="My Personal Site">
        <i class="fas fa-globe fa-2x"></i>
      </a>
    </div>

    <div class="col-auto">
      <a class="text-secondary mx-0 mx-sm-3" href="https://github.com/kalai-logicsoft" target="_blank"
        aria-label="Visit my work / official github profile">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>

    <div class="col-auto">
      <a class="text-secondary mx-0 mx-sm-3" href="https://www.instagram.com/callme_kalai/" target="_blank"
        aria-label="Visit my instagram profile">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>

    <div class="col-auto">
      <a class="text-secondary mx-0 mx-sm-3" href="http://clicks.ekalaivan.net/" target="_blank"
        aria-label="Visit my clicks and photography site">
        <i class="far fa-image fa-2x"></i>
      </a>
    </div>
  </div>
</div>